<?xml version="1.0"?>
<launch>

    <!-- Simulator configuration -->
    <arg name="gui" default="false" />
    <arg name="verbose" default="true" />
    <arg name="open_rviz" default="false"/>
    <arg name="rviz_file" default="$(find erp42_vehicle_gazebo)/rviz/erp42_sim_basic.rviz" />
    <arg name="use_sim_time" default="true"/>

    <arg name="map_name" default="sunmoon" />

    <!-- Vehicle configuration -->
    <arg name="total_vehicle_num" default="2" />

    <!-- Remap topics -->
    <remap from="/erp42_1/ackermann_steering_controller/cmd_vel" to="/erp42_1/cmd_vel" />
    <remap from="/erp42_1/ackermann_steering_controller/odom" to="/erp42_1/odom" />
    <remap from="/erp42_2/ackermann_steering_controller/cmd_vel" to="/erp42_2/cmd_vel" />
    <remap from="/erp42_2/ackermann_steering_controller/odom" to="/erp42_2/odom" />

    <!-- Launch gazebo sim and load track -->
    <include file="$(find erp42_vehicle_gazebo)/launch/erp42_gazebo_track.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="open_rviz" value="$(arg open_rviz)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="verbose" value="$(arg verbose)" />
    </include>
    
    <!-- Load ERP42 Vehicles -->
    <include file="$(find erp42_vehicle_gazebo)/launch/erp42_gazebo_vehicles.launch">
        <arg name="total_vehicle_num" value="$(eval arg('total_vehicle_num'))"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>


    <!-- For Rank Server -->
    <node pkg="path_extraction" type="referee_server.py" name="referee_server" output="screen">
        <param name="path_file_name" value="sunmoon_sim_center.txt" />
        <param name="path_frame"  value="map" />
        <param name="vehicle_num"  value="2" />
    </node>

</launch>
